.modal, .modalNewItem {
  width: 100%;
  background-color: #fff;
  border-radius: 24px 24px 0px 0px;
  padding: 16px;
  position: fixed;
  bottom: 0;
  z-index: 3;
  text-align: center;
  transform: translateY(100%);
  transition: all 0.4s ease;
  animation: open-modal 0.4s ease;
}
.modal.open, .modalNewItem.open {
  transform: translateY(0%);
}
.modal .image-area, .modalNewItem .image-area {
  width: 100%;
  height: 108px;
  border-radius: 4px;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 8px;
}
.modal .icon-button, .modalNewItem .icon-button {
  position: absolute;
  right: 16px;
}

.product-info {
  display: flex;
}
.product-info span {
  margin-left: 4px;
  margin-right: 4px;
}

@keyframes open-modal {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes close-modal {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}
@media only screen and (min-width: 768px) {
  .modal {
    width: 100%;
    max-width: 360px;
    border-radius: 8px;
    bottom: 48px;
    right: 48px;
    transform: translateY(0%);
    transition: all 0.4s ease;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: none;
  }
  .modal.open {
    display: block;
  }

  .modalNewItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 360px;
    border-radius: 8px;
    bottom: 48px;
    right: 48px;
    transform: translateY(0%);
    transition: all 0.4s ease;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: none;
    padding-bottom: 16px;
  }
  .modalNewItem h3 {
    line-height: 40px;
    text-align: start;
  }
  .modalNewItem .image-area {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    height: 144px;
  }
  .modalNewItem.open {
    display: block;
  }
  .modalNewItem .icon-button {
    transition: all 0.4s ease;
  }
}
.black-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
  display: none;
}
.black-screen.fade-in {
  background-color: rgba(0, 0, 0, 0.38);
  display: block;
  animation: fade-in 0.5s ease;
}
.black-screen.fade-out {
  display: block;
  animation: fade-out 0.4s ease;
}

@keyframes fade-in {
  0% {
    background: transparent;
  }
  100% {
    background: rgba(0, 0, 0, 0.38);
  }
}
@keyframes fade-out {
  0% {
    background: rgba(0, 0, 0, 0.38);
  }
  100% {
    background: transparent;
  }
}
@media only screen and (min-width: 768px) {
  .black-screen {
    display: none !important;
  }
}
.forms {
  width: 100%;
  position: relative;
  height: 56px;
  overflow: hidden;
}

.forms input {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 23px 16px 9px 16px;
  border-radius: 4px 4px 0 0;
}

.forms .label-name {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.forms.desactive .label-name {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.forms.active .label-name {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.content-name {
  position: absolute;
  bottom: 16px;
  left: 16px;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.forms .label-name::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #FFCD14;
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.forms.desactive .label-name::after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.forms.active .label-name::after {
  border-bottom: 1px solid #293630;
}

.forms.error .label-name::after {
  border-bottom: 1px solid #FF7373;
}

.forms.error {
  color: #FF7373;
}
.forms.error input {
  color: #FF7373;
}

.forms input:focus + .label-name .content-name,
.forms input:valid + .label-name .content-name {
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
}

.forms input:focus + .label-name::after,
.forms input:valid + .label-name::after {
  transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}

.quantity-selector {
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
}
.quantity-selector .less-number {
  position: absolute;
  left: 0px;
  top: 0px;
}
.quantity-selector .plus-number {
  position: absolute;
  top: 0px;
  right: 0px;
}
.quantity-selector input {
  height: 100%;
  width: 100%;
  padding: 0px 40px;
  text-align: center;
  font-size: 16px;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.inputData {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 56px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #F5F5F5;
  padding: 8px 12px 8px 16px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.inputData p {
  text-align: start;
}
.inputData .icon-button {
  display: block;
}
.inputData .statusMenu {
  width: 100%;
}
.inputData .statusMenu p {
  line-height: 23px;
}

.duoInputLine {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.duoInputLine div {
  width: 100%;
}

.h1 {
  font-weight: bold;
  font-size: 80px;
  line-height: 96px;
}

.h2 {
  font-weight: bold;
  font-size: 60px;
  line-height: 68px;
}

.h3 {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
}

.h4 {
  font-weight: bold;
  font-size: 34px;
  line-height: 42px;
}

.h5 {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.h6 {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
}

.subtitle {
  font-size: 16px;
  line-height: 24px;
}

.subtitle-2 {
  font-size: 14px;
  line-height: 22px;
}

.body {
  font-size: 14px;
  line-height: 22px;
}

.body-2 {
  font-size: 16px;
  line-height: 24px;
}

.body-3 {
  font-size: 18px;
  line-height: 26px;
}

.caption {
  font-size: 12px;
  line-height: 16px;
}

.overline {
  font-size: 10px;
  line-height: 14px;
}

.button {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.regular {
  font-weight: normal !important;
}

.bold {
  font-weight: bold !important;
}

.medium {
  font-weight: 500 !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.underline {
  text-decoration: underline;
}

.line-through {
  text-decoration-line: line-through;
}

.fontSize72 {
  font-size: 72px;
}

.sidebar {
  min-width: 320px;
  height: 100%;
  background-color: #FFFFFF;
  border: solid 1px rgba(0, 0, 0, 0.15);
  padding: 0 16px;
  margin-right: 16px;
  flex-direction: column;
  border-radius: 12px;
}
.sidebar .title {
  color: rgba(0, 0, 0, 0.6);
  line-height: 40px !important;
  padding: 16px 0;
  width: 100%;
}

.search-bar {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  width: 288px;
  height: 40px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.search-bar input {
  height: 100%;
  width: 82%;
}

.client-list {
  padding: 12px 20px 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-list {
  padding: 12px 20px 12px 16px;
  display: flex;
  align-items: center;
}
.catalog-list.active {
  background-color: rgba(0, 0, 0, 0.04);
}
.catalog-list p:last-child {
  margin-left: 8px;
}

.newCategoryItem {
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding: 4px 12px 3px 16px;
}
.newCategoryItem input {
  width: 168px;
  margin-right: 8px;
}

.client-list:not(:last-of-type), .catalog-list:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.client-list:hover, .catalog-list:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.carrinho {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
  padding-bottom: 143px;
  border-radius: 0px;
  background-color: #FAFAFA;
  padding-top: 88px;
}
.carrinho .container-produto {
  max-height: 81%;
  overflow-y: scroll;
}
.carrinho .container-produto::-webkit-scrollbar {
  width: 2px;
}
.carrinho .container-produto::-webkit-scrollbar-track {
  background: #fff;
}
.carrinho .container-produto::-webkit-scrollbar-thumb {
  background: #2D4037;
}
.carrinho footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #ccc;
  padding: 16px 16px;
}

@media only screen and (min-width: 768px) {
  .carrinho {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 64px;
    right: 48px;
    width: 362px;
    height: fit-content;
    z-index: 2;
    overflow: hidden;
    padding-bottom: 143px;
    border-radius: 8px;
    background-color: #fff;
    padding-top: 12px;
  }
  .carrinho .container-produto {
    max-height: 322px;
    overflow-y: scroll;
  }
  .carrinho .container-produto::-webkit-scrollbar {
    width: 2px;
  }
  .carrinho .container-produto::-webkit-scrollbar-track {
    background: #fff;
  }
  .carrinho .container-produto::-webkit-scrollbar-thumb {
    background: #2D4037;
  }
  .carrinho footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ccc;
    padding: 16px 16px;
  }
}
.centralized {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  border-collapse: collapse;
  width: 100%;
}
.table td {
  text-align: left;
  padding: 8px 16px;
  height: 56px !important;
}
.table td:nth-child(-n+2) {
  width: 128px;
}
.table td:nth-child(3) {
  width: 193px;
}
.table td:last-of-type {
  text-align: right;
  width: 208px;
}
.table tr {
  background-color: #FFFFFF;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.table tr:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
.table tr:last-of-type {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.vendas-table-area {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}
.vendas-table-area header {
  padding: 20px 16px;
  align-items: center;
}
.vendas-table-area thead td {
  padding: 16px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
}
.vendas-table-area tbody td {
  padding: 14px;
  color: rgba(0, 0, 0, 0.6);
}
.vendas-table-area footer {
  padding: 6px 12px;
  display: flex;
  justify-content: flex-end;
}

.statusCellAdminHead {
  width: 229px !important;
}

.statusCellAdminBody {
  position: relative;
}
.statusCellAdminBody button {
  position: absolute;
  left: 177px;
  bottom: 8px;
  border-radius: 50%;
  transition: all 0.4s ease;
}
.statusCellAdminBody button:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.statusMenu {
  position: absolute;
  top: 55px;
  left: 0px;
  width: 229px;
  border-radius: 4px;
  background-color: #FFFFFF;
  border: solid 1px rgba(0, 0, 0, 0.15);
  z-index: 9999;
}
.statusMenu div, .statusMenu p {
  padding: 8px 16px;
}
.statusMenu div:not(:last-of-type), .statusMenu p:not(:last-of-type) {
  border-bottom: solid 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.statusMenu div:hover, .statusMenu p:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.statusBtnAnimation {
  transform: rotate(180deg);
}

.header {
  width: 100%;
  min-width: 308px;
  z-index: 1;
  padding: 24px 16px 0px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  -o-position: fixed;
  position: fixed;
  top: 0px;
  left: 0px;
}
.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}
.header-container .title-container {
  width: 100%;
  max-width: 295px;
}

.title {
  display: flex;
  align-items: center;
}
.title h1 {
  margin-right: 12px;
}

.tag {
  padding: 4px 8px;
  border-radius: 4px;
}
.tag .body {
  line-height: 16px;
}

.content-container {
  padding: 141px 16px 136px 16px;
}

.icone-menos {
  width: 14px;
  height: 2px;
  border-radius: 10px;
  background-color: #fff;
}

.newItemContainer {
  padding: 0px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%233333332E' stroke-width='2' stroke-dasharray='8%2c8' stroke-dashoffset='8' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 8px;
  background-color: transparent;
  border: none;
  transition: all 0.4s ease;
}

@media only screen and (min-width: 768px) {
  .content-container {
    display: flex;
    padding: 93px 48px 136px 48px;
  }

  .product-card {
    float: left;
  }

  .clear {
    clear: both;
  }

  .catalog-desktop {
    flex-direction: column;
    border-radius: 12px;
    width: 100%;
  }
  .catalog-desktop .product-card {
    margin: 0;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }
  .catalog-desktop article h3 {
    margin: 16px 0 16px 0;
    padding: 0 16px;
  }

  .product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(192px, auto));
    gap: 16px;
    padding: 0 16px;
  }
  .product-container .newItemContainer {
    height: 270px;
  }
  .product-container .newItemContainer:hover {
    background-color: rgba(0, 0, 0, 0.04);
    cursor: pointer;
  }
}

/*# sourceMappingURL=catalogo.css.map */
