.forms {
  width: 100%;
  position: relative;
  height: 56px;
  overflow: hidden;
}

.forms input {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 23px 16px 9px 16px;
  border-radius: 4px 4px 0 0;
}

.forms .label-name {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.forms.desactive .label-name {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.forms.active .label-name {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.content-name {
  position: absolute;
  bottom: 16px;
  left: 16px;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.forms .label-name::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #FFCD14;
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.forms.desactive .label-name::after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.forms.active .label-name::after {
  border-bottom: 1px solid #293630;
}

.forms.error .label-name::after {
  border-bottom: 1px solid #FF7373;
}

.forms.error {
  color: #FF7373;
}
.forms.error input {
  color: #FF7373;
}

.forms input:focus + .label-name .content-name,
.forms input:valid + .label-name .content-name {
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
}

.forms input:focus + .label-name::after,
.forms input:valid + .label-name::after {
  transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}

.quantity-selector {
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  width: 50%;
  text-align: center;
  font-size: 16px;
}
.quantity-selector .less-number {
  position: absolute;
  left: 0px;
  top: 0px;
}
.quantity-selector .plus-number {
  position: absolute;
  top: 0px;
  right: 0px;
}
.quantity-selector input {
  height: 100%;
  width: 100%;
  padding: 0px 40px;
  text-align: center;
  font-size: 16px;
}

.client-list {
  padding: 12px 20px 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.client-list:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.table {
  border-collapse: collapse;
  width: 100%;
}
.table td {
  text-align: left;
  padding: 8px 16px;
}
.table td:last-of-type {
  text-align: right;
}
.table tr {
  background-color: #FFFFFF;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.table tr:last-of-type {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.table tr:nth-child(even) {
  background-color: #F5F5F5;
}

.vendas-table-area {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}
.vendas-table-area header {
  padding: 20px 16px;
  align-items: center;
}
.vendas-table-area thead td {
  padding: 16px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
}
.vendas-table-area tbody td {
  padding: 14px;
  color: rgba(0, 0, 0, 0.6);
}
.vendas-table-area tr:nth-child(even) {
  background-color: white;
}

.header {
  width: 100%;
  min-width: 308px;
  z-index: 1;
  padding: 24px 16px 0px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  -o-position: fixed;
  position: fixed;
  top: 0px;
  left: 0px;
}
.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}
.header-container .title-container {
  width: 100%;
  max-width: 295px;
}

.title {
  display: flex;
  align-items: center;
}
.title h1 {
  margin-right: 12px;
}

.content-container {
  padding: 93px 16px 136px 16px;
}

.content-container-minhasVendas {
  padding: 93px 16px 0px 16px;
}

.profile-header {
  display: flex;
}
.profile-header .title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.perfil-list-item {
  display: flex;
}
.perfil-list-item p {
  margin-left: 8px;
}

.calendar-container {
  width: 100%;
  position: fixed;
  top: 79px;
  transform: translateY(-100%);
  transition: all 0.4s ease;
}
.calendar-container.open {
  transform: translateY(0%) !important;
}

/*# sourceMappingURL=perfil.css.map */
