@use 'assets/mixins'
@use 'assets/colors'
@use 'assets/inputs'
@use 'assets/lists'
@use 'assets/table'

.header
  width: 100%
  min-width: 308px
  z-index: 1
  padding: 24px 16px 0px 16px
  border-bottom: 1px solid rgba(0, 0, 0, 0.15)
  @include mixins.prefix(position, fixed, o)
  top: 0px
  left: 0px
  &-container
    width: 100%
    display: flex
    justify-content: space-between
    padding-bottom: 12px
    .title-container
      width: 100%
      max-width: 295px

.title
  display: flex
  align-items: center
  h1
    margin-right: 12px

.tag
  padding: 4px 8px
  border-radius: 4px
  .body
    line-height: 16px

.content-container
  padding: 93px 16px 136px 16px

.content-container-minhasVendas
  padding: 93px 16px 0px 16px

.profile-header
  display: flex
  .title
    display: flex
    flex-direction: column
    align-items: flex-start

.avatar
  width: 56px
  height: 56px
  border-radius: 50%
  border: 1px solid rgba(0, 0, 0, 0.15)
  overflow: hidden

.perfil-list-item
  display: flex
  p
    margin-left: 8px

.calendar-container
  width: 100%
  position: fixed
  top: 79px
  transform: translateY(-100%)
  transition: all .4s ease
  &.open
    transform: translateY(0%)!important

@media only screen and ( min-width: 768px )
  .content-container
    display: flex
    width: 100%

  .perfil-card
    background-color: colors.$surface_color
    width: 100%
    border-radius: 12px
    border: 1px solid colors.$stroke
    padding: 16px

  .perfil-card:not(:first-of-type)
    margin-left: 24px

  .profile-header
    display: flex
    flex-direction: column
    align-items: center
  .avatar
    width: 120px
    height: 120px
    margin-bottom: 16px
    margin-right: 0px
  .title
    align-items: center!important
