.carrinho
    display: flex
    flex-direction: column
    position: fixed
    top: 64px
    right: 48px
    width: 362px
    z-index: 2
    overflow: hidden
    padding-bottom: 143px
    .container-produto
        max-height: 322px
        overflow-y: scroll
    footer
        position: absolute
        bottom: 0px
        left: 0px
        width: 100%
        background-color: #fff
        border-top: 1px solid #ccc
        padding: 16px 16px
