@use 'colors'

.table
  border-collapse: collapse
  width: 100%
  td
    text-align: left
    padding: 8px 16px
  td:last-of-type
    text-align: right
  tr
    background-color: colors.$surface_color
    border-top: 1px solid colors.$stroke

  tr:last-of-type
    border-bottom: 1px solid colors.$stroke

  tr:nth-child(even)
    background-color: colors.$primary_bg

.vendas-table-area
  background-color: colors.$surface_color
  border: 1px solid colors.$stroke
  border-radius: 12px
  header
    padding: 20px 16px
    align-items: center
  thead td
    padding: 16px
    color: colors.$black
    font-weight: 500
  tbody td
    padding: 14px
    color: colors.$medium-emphasis
  tr:nth-child(even)
    background-color: white
